body {
  background-color: rgb(175, 131, 73);
}


h1 {
  color: rgb(41, 8, 83);
  font-size: 3.0em;
  font-family: cursive;
  font-weight: 1600;
  border-bottom: 10px dotted rgb(228, 228, 228);
}


h2 {
  color: rgb(2, 13, 34);
  font-size: 1.2em;
  font-family: cursive;
  font-size: large;
}
