body {
  background-color: rgb(175, 131, 73);
}



h1 {
  color: rgb(41, 8, 83);
  font-size: 5.0em;
  font-family: cursive;
  font-weight: 1600;
  border-bottom: 10px dotted rgb(68, 48, 6);
}


h2 {
  color: rgb(233, 233, 233);
  font-size: 1.2em;
  font-family: cursive;
  font-size: large;
  border-bottom: 10px dotted rgb(68, 48, 6);
}


.btn {
  color: rgb(250, 244, 244);
  background-color: #553000;
  font-size: 4.0em;
  font-family: cursive;
  border-bottom: 20px solid #ccc100;
}

.btn:hover {
  margin-top: 3px;
  color: #000;
  background: #5e4502;
  border-bottom: 2px solid #3b2c01;
}

h3{
  color: rgb(233, 233, 233);
  font-size: 2.5em;
  font-family: cursive;
  border-bottom: 10px dotted rgb(68, 48, 6);
}

h4{
  color: rgb(233, 233, 233);
  font-size: 2.5em;
  font-family: cursive;
  border-bottom: 10px dotted rgb(68, 48, 6);
}

h5{
  color: rgb(233, 233, 233);
  font-size: 2.0em;
  font-family: cursive;
}